.header
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  margin-bottom: 20px
  &:after
    position: absolute
    content: ""
    left: 1%
    top: calc(100% + 10px)
    width: 98%
    height: 3px
    background-color: #415578

.nav-ul
  display: flex
  align-items: center
  list-style: none
  font-size: 1.5rem
  li
    display: flex
    align-items: center
    margin-right: 20px
    color: #415578
    cursor: pointer
    font-weight: 400
    &:last-child
      margin-right: 0
      min-width: 105px
    &:hover
      color: #91504d
    a
      text-decoration: none
      color: #415578
      margin-left: 5px
      &:hover
        color: #91504d
