<div class="home">
  <div class="my-foto">
    <img src="/assets/img/daughter.png" alt="my-foto">
  </div>
  <div class="welcome">
    <ul>
      <li>Дорогой родственник!</li>

      <li>
        <mat-icon>
          done_outline
        </mat-icon> С большой радостью приветствую тебя и приглашаю в уникальное путешествие по истории нашей семьи.
        Ведь знание о своих корнях позволяет нам лучше понять себя, своих предков и мир вокруг нас. Сегодня я предлагаю
        нам собраться вместе и заглянуть в прошлое, чтобы понять, как мы стали теми, кто мы есть сейчас.
      </li>

      <li><mat-icon>
          done_outline
        </mat-icon>
        В каждой семье скрыты удивительные истории, события и люди, чьи жизни переплелись, чтобы сформировать
        нашу семейную древность. Эти истории - наше наследие, и они вносят свой вклад в нашу индивидуальность. Я
        уверена, что у нас есть много интересных историй и фактов, которые помогут нам лучше узнать друг друга и свои
        корни.</li>

      <li><mat-icon>
          done_outline
        </mat-icon>
        Вместе мы можем оживить воспоминания о наших предках, узнать исторические факты, исследовать
        генеалогические связи и обнаружить удивительные подробности, которые могут связывать нас с историческими
        событиями и культурой. Наша семейная история является уникальной и важной частью нашей жизни.</li>

      <li>
        <mat-icon>done_outline</mat-icon>
        Давайте вместе откроем эти страницы прошлого и укрепим нашу семейную связь. Я верю, что этот процесс будет не
        только увлекательным, но и познавательным для каждого из нас. Добро пожаловать в нашу семейную историю!
      </li>
    </ul>
    <div class="signature">
      <img src="/assets/img/signature.png" alt="signature">
    </div>
  </div>
</div>